.home {
  display: flex;
  background-color: #f6f8fa;
  margin-bottom: 40px;
}

.sort {
  height: 26px;
  border: none;
}
.uper_sort {
  display: flex;
  justify-content: space-between;
  width: 907px;
  margin-left: 61px;
  margin-top: 39px;
  margin-bottom: 10px;
}
.h_decorate {
  color: cadetblue;
}
.home_product {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-left: 60px;
}
.brand_category_price {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #fff;
  margin-left: 105px;
  padding: 59px;
  border-radius: 5px;
  margin-top: 37px;
  height: 530px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.brand_category_price h4 {
  font-size: 20px;
  margin-top: -37px;
  margin-right: -18px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.brand_category_price label {
  display: flex;
  justify-content: start;
}
.value {
  line-height: 47px;
  margin-right: 28px;
}
.value1 {
  line-height: 47px;
}
